 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
} 

.toolbar{
    height: 100px;
   background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("./Amenities/drawinapp\ Image\ 2023-08-23\ at\ 7.28.19\ PM.jpg"); */
}
.tools{
    height: 100%;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tool{
 position: relative;
}
.tool img {
    height: 50px;
}
.tool-options{
    height: 100px;
    position: absolute;
    top: 70px;
    left: -53px;
    background: aliceblue;
    border-radius: 15px;
    width: 150px;
    display: none;
}

.tool-options-active{
    display: block;
}

.content{
    height: calc(100vh - 100px);
}

.active-tool{
    width: 60px;
    border: 2px solid lightblue;
    border-radius: 30px;
    padding: 5px;
}
.pencil-slider{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eraser-slider{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pencil-color{
    display: flex;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.pencil-color div{
    height: 30px;
    width: 30px;
    border-radius: 20px;
}

.black{
    background-color: black;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}



.sticky{
    position: absolute;;
    top: 200px;
    left: 200px;
    height: 180px;
    width: 230px;
}
.sticky-header{
    background-color: darkgray;
    height: 30px;
    width: 260px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.minimize{
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50px;
}
.close{
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50px;
}
.sticky-content{
    height: 150px;
}
/* .img-upload{
    background-color: darkgray;
    height: 30px;
    width: 260px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */